@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,300);

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Raleway, 'Helvetica Neue';
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}
body > div {
  height: 540px;
  overflow: scroll;
  margin: 120px 0 40px;
}

h1, h2, h3, h4, ul, ol, li, p {
  padding: 0;
  margin: 0;
}
h4 {
  padding: 10px 0;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FC4F08;
  margin: 0;
  height: 80px;
  z-index: 10;
  overflow: hidden;
}
.header h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 198px;
  height: 51px;
  transform: translateX(-50%) translateY(-35%);
  background: url(./logo.png);
  font-size: 0;
  cursor: pointer;
  transition: all .3s;
}
.header h1:hover {
  transform: translateX(-50%) translateY(-40%);
}

.infoBtn {
  background: url(./info.png);
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  left: 30px;
  top: 25px;
  outline: 0;
  cursor: pointer;
  transition: all .3s;
}
.infoBtn:hover {
  transform: rotateZ(360deg);
}

.updatingStories {
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 11px;
  transform: translateY(-50%);
  line-height: 13px;
  color: #fff;
  font-weight: bold;
  text-align: right;
}

.subHeader {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 80px;
  height: 40px;
  background: #f6f6f6;
  z-index: 10;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,.1);
  display: flex;
}
.topStoriesBtn, .favoriteStoriesBtn {
  flex: 1 1;
  height: 40px;
  border: 0px;
  cursor: pointer;
  outline: 0;
}
.topStoriesBtn {
  background: transparent url(./topStories.svg) no-repeat center center;
}
.topStoriesBtn:hover {
  background: transparent url(./topStoriesHover.svg) no-repeat center center;
}
.favoriteStoriesBtn {
  border-left: 1px solid #e2e2e2;
  background: transparent url(./favoriteStories.svg) no-repeat center center;
}
.favoriteStoriesBtn:hover {
  background: transparent url(./favoriteStoriesHover.svg) no-repeat center center;
}


.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: #f6f6f6;
  padding: 0 15px;
  border-top: 1px solid #ddd;
}

.markAllAsReadBtn, .quitBtn {
  font-family: Raleway, 'Helvetica Neue';
  padding: 3px 6px;
  outline: 0;
  border: 1px solid #e2e2e2;
  background: #fff;
  border-radius: 10px;
  transform: translateY(-48%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: all .3s;
  color: #aaa;
  width: 100px;
}

.markAllAsReadBtn:hover, .quitBtn:hover {

}

.markAllAsReadBtn {
  left: 10px;
}

.quitBtn {
  right: 10px;
}

.scoreLimit {
  position: absolute;
  font-size: 11px;
  color: #ababab;
  text-align: center;
  left: 50%;
  top: -7px;
  transform: translateX(-50%);
}
.filter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-48%);
}
.filter input[type=range] {
  width: 200px;
  -webkit-appearance: none;
  outline: 0;
}
.filter input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 3px;
  background: #d8d8d8;
  border: none;
  border-radius: 2px;
}
.filter input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 2px solid #c8c8c8;
  margin-top: -5px;
}


.page {
  padding: 50px;
  font-size: 14px;
  color: #878787;
  text-align: justify;
  line-height: 20px;
}
.page p {
  margin-bottom: 15px;
}
