a {
  color: #FC4F08;
  text-decoration: none;
}

.story {
  display: flex;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  border-left: 5px solid #FC4F08;
  cursor: pointer;
  transition: all .3s;
  color: #878787;
  overflow: hidden;
}

.seenStory {
  border-left: 5px solid #999;
}
.seenStory .scoreWrapper, .seenStory .body, .seenStory .commentsWrapper {
  opacity: .4;
}

.story:hover {
  background: #f6f6f6;
}

.body {
  position: relative;
  flex: 1 1;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  padding: 15px;
}

.scoreWrapper {
  position: relative;
  width: 80px;
  background: #f6f6f6;
  text-align: center;
}
.score {
  font-size: 17px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all .3s;
}
.favoriteBtn {
  outline: 0;
  cursor: pointer;
  background: url(./favorite.svg) no-repeat center center;
  border: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: all .5s;
}
.scoreWrapper:hover .favoriteBtn {
  top: 50%;
  opacity: 1;
}
.scoreWrapper:hover .score {
  top: 80%;
  opacity: 0;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 500;
}

.commentsWrapper {
  position: relative;
  width: 80px;
  background: #f6f6f6;
}
.commentsWrapper span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  text-align: center;
  background: url(./bubble.png) no-repeat center top;
  transform: translateX(-50%) translateY(-50%);
  padding-top: 20px;
}

.subtitle {
  margin-top: 15px;
  font-size: 11px;
  color: #666;
}
